* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





.bajo{
    background-image: url(../img/azul3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background: url(../img/arcoiris.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'roboto',  sans-serif;
    
}









/* index */

.curriculum{
    margin: auto;
    width: 100%;
    max-width: 700px;
    padding: 2.5em 3em;
    text-align: center; 
}

.ezequiel{
    margin: auto;
    width: 100%;
    max-width: 700px;
    padding: 2.5em 3em;
    text-align: center; 
   
   }
/* ................skills....................... */
.home {
    display: flex;
}

.in-flex {
    flex: 1;
    min-width: 300px;
}

.in-flex1{
    flex: 2;
    padding: 25px;
    background-color: rgb(241, 226, 226);
    margin: 20px;
    background-image: url(../img/computacionn.jpg);
    background-repeat: no-repeat;
    text-decoration: aqua;
}


/* ..................proyectos.............................. */
.proyecto {
    display: grid;
    grid-template-areas: 
    "eze eze eze1 eze2"
    "eze eze eze3 eze4";
    width: 100%;
    height: 90vh;
    overflow:hidden;
}

@media screen and (max-width:1100px)  {
 .proyecto {
        grid-template-areas:
        "eze"
        "eze1"
        "eze2"
        "eze3"
        "eze4" ;
       grid-template-rows: repeat(4, 1fr);
    }
    



}

.eze {
    grid-area: eze;
     display: flex;
    background-color: rgb(36, 36, 36);
    background-image: url(../img/gym1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex: 1;
 
    
}

.eze1{
    display: flex;
    grid-area: eze1;
    background-size: cover;
    background-color: rgb(24, 190, 74);
    background-image: url(../img/meditacion.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex: 1;
  
}

.eze2 {
    display: flex;

    grid-area: eze2;
    background-color: rgb(238, 238, 241);
    background-image: url(../img/manzana.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
   flex: 1;


}

.eze3 {
    display: flex;
grid-area: eze3;
background-color: rgb(165, 165, 179);
background-image: url(../img/computacionn.jpg);
background-repeat: no-repeat;
justify-content: center;
align-items: center;
flex: 1;


}

.eze4 {
display: flex;
    grid-area: eze4;
    background-color: rgb(255, 17, 0);
    background-image:   url(../img/viaje.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex: 1;

}
/* ...............contacto..................... */

.formulario {
    background-color: rgb(58, 13, 95);

opacity: 0.8;
background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
background-size: 20px 20px;
background-position: 0 0,10px 10px;
display:flex;
min-height: 100vh;

}

.form{
    background-color: rgb(189, 192, 192);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px - 5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_paragraph {
    font-weight: 300;
}

.form_link{
    font-weight: 400;
    color: rgb(48, 53, 53);
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    color: aquamarine;
}

.form_input{
    width: 100%;
    background: none;
    color: rgb(82, 80, 83);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid cornflowerblue;

}

.form_input:focus + .form_label{
    transform: translateY(-12px) scale(.7);
}

.form_label {
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translatey(10px);
    transition: transform .5s, color.3s;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(23, 24, 23);
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}









   /* ................aboutme........................ */
   .carousel-inner {
    margin: auto;
    width: 100%;
    max-width: 700px;
    padding: 2.5em 3em;
    text-align: center; 

   }

   